<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
        <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy estudiante de programación. Empecé de forma autodidacta y luego decidí comenzar la Tecnicatura
                universitaria en programación en la Universidad Nacional de Hurlingham, en Buenos Aires, para luego
                completar con la Licenciatura en Informática. Actualmente soy colaborador en el equipo docente de la
                materia Programación con objetos I en dicha institución.
                Paralelamente estoy cursando la segunda etapa del plan Argentina Programa y buscando aprender
                constantemente.
                Estoy en búsqueda de mi primera experiencia laboral en IT.
            </p>
        </span>
    </div>
</div>